<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BountyHub</title>
</head>
<body>
    <header>
        <a href="/bounties"><h1>Bounty Hub</h1></a>
        <ul>
            <li><a href="/bounties/add">New</a></li>
            <li><a href="/hunter/login">Log in</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </header>